body{
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin: 20px;
   background-color: aliceblue;
   background-image: linear-gradient(to top, white, rgba(19, 142, 242, 0.557));
}

h3{
    font-size: small;
}

.margem{
    margin-right: 30px;
}
.div1{
    display: flex;
    flex-direction: row;
}

.div2{
    display: flex;
    flex-direction: row;
}

.div3{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 2px solid blue;
}

.div4{
    display: flex;
    flex-direction: column;
    width: 60%;
}


h1{
    margin: 0%;
    background-color: rgb(29, 14, 236);
    font-size: xx-large;
}

.formacao{
    font-size: medium;
    width: 50%;
   
}

.skills{
    width: 40%;
    padding-left: 70px;
}

.imagem img{
 
   background-color: aqua;
   border-radius:50%;
}


.linha{
    border-color: blue;
}

.linhaskills{
    margin-left: 0%;
    width: 55%;
    border-color: blue;
}
.linhacurso{
    margin-top: 0%;
    width: 100%;
    border-color: blue;
}

.experiencia{
    background-color: blue;
    text-align: center;
    margin-top: 84px;
    margin-right: 10px;
}

h3{
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 50%;
}

.excel{
    padding-left: 20px;
}

.email{
    margin-top: 23px;
    margin-left: 25px;
    text-align: center;
    border: 1px solid rgb(23, 46, 221);
}

.maissobre{
    text-align: center;
    border: 1px solid black;
    margin-left: 25px;
}

.tamimagem{
    margin-top: 100px;
    width: 25%;
    margin-left: 60px;
}

.cursos{
    font-size: medium;
}

.padding{
    padding-left: 10px;
    border-left: 1px solid black;
}

.vejamais{
    font-size: xx-large;
}
.third {
    border-color: #1070b1a8;
    color: #fff;
    box-shadow: 0 0 40px 40px #3498db inset, 0 0 0 0 #3498db;
    transition: all 150ms ease-in-out;
    border-radius: 50%;
}
.third:hover {
    box-shadow: 0 0 10px 0 #3498db inset, 0 0 10px 4px #3498db;
  }