body{
    display: flex;
    flex-direction: row;
    margin-left: 60px;
    margin-top: 0px;
    background-image: linear-gradient(to bottom, white, rgba(224, 39, 39, 0.557));
}
h3{
    font-size: x-large;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.div2{
    display: flex;
    flex-direction: column;
}
.div3{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.div5{
    display: flex;
    flex-direction: row;
}

.div6{
    display: flex;
    flex-direction: column;
    text-align: center;

}
.div7{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.div8{
    display: flex;
    flex-direction: row;
}
.div9{
    display: flex;
    flex-direction: row;
}

h1{
    margin-top: 0%;
    background-color: crimson;
    text-align: center;
    font-size: 60px;
}
.div4{
    background-color: crimson;
}

.sitcom{
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid red;
}

.distopia{
    margin-left: 50px;
    margin-right: 50px;
    border: 2px solid red;
}

.gostos{
    border: 2px solid red;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
}

.ext{
    border: 2px solid red;
    margin-left: 10px;
    margin-right: 10px;
}

.violino{
    border: 2px solid red;
    margin-left: 25px;
    margin-right: 25px;
}

.ora{
    border: 2px solid red;
}

.mat{
    color: crimson;
}

.img1{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.img1:hover:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }
.img2{
    margin-left: 25px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.img2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.img3{
    margin-left: 45px;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}
.img3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
 }

.oratoria{
    margin-top: 100px;

}

.or{
    margin-top: 100px;
}
.imgthe{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.imgthe:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.imguni{
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
}

.imguni:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
button {
    border-color: brown;
    color: crimson;
    background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
    background-image: linear-gradient(45deg, rgb(224, 118, 25) 50%, transparent 50%);
    background-position: 100%;
    background-size: 400%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    width: 100px;
    height: 50px;
    border-radius: 25%;
  }
  
  button:hover {
    background-position: 0;
  }